.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: radial-gradient(
    755px at 10.1% 95.3%,
    rgb(242, 188, 141) 0%,
    rgb(242, 159, 141) 100.2%
  );
}

h1 {
  text-align: left;
  padding-top: 12px;
  color: #42240c;
  font-size: 35px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

a {
  color: #42240c;
  font-weight: bold;
}

.Photos img {
  border-radius: 6px;
  margin: 10px 0;
  border: 2px solid #42240c;
}
