.Dictionary section {
  background-color: white;

  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: -6px 12px 20px rgba(0, 0, 0, 0.2);
}

.Dictionary h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;

  text-align: left;
}

.Dictionary input {
  width: 100%;

  padding: 8px 4px;
  border-radius: 6px;
  border: 1px solid #eeeeee;
}

.Dictionary .hint {
  font-size: 13px;
  font-weight: bold;
  color: #bb5a5a;
  margin-top: 5px;
}
