.Synonyms {
  margin: 20px 0 0;
  padding: 0;
}

.Synonyms li {
  line-height: 1;
  display: inline-block;
  color: #bb5a5a;
  margin: 4px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
